# Standard Python stuff
*.pyc
/.env/
/*.egg-info/
/.eggs/
/build/
/dist/

# editor stuff
*.sw?

run.py

# make sure users don't commit private key material, or configuration
*.pem
*.der
*.key
letslambda.yml
